{% extends "base_generic.html" %}

{% block content %}
  <h1>Course Review Home</h1>
  <p>Welcome to Course Review</p>
  <h2>Dynamic content</h2>
  <p>The course review has the following record counts:</p>
  <ul>
    <li><strong>Users:</strong> {{ num_users }}</li>
    <!-- <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li> -->
  </ul>
{% endblock %}
